
@{
    ViewBag.Title = "Authentication Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Authentication Complete!</h2>
<p>The Office 365 Workshop app has all the information it needs to work with SalesForce. You can close this dialog and continue work in the Office add-in.</p>
<script type="text/javascript">
    window.close();
</script>